/*
 Theme Name:   Mon theme 
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty twenty Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentytwenty
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentyfifteenchild
*/

.categorie-projet {
    background: red;
    color: white;
    text-align: center;
}